<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/AppPrivado}"
>
<head>
    <meta charset="UTF-8">}
    <link rel="stylesheet" href="/css/app.css">
    <!--Trix-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/trix@2.0.0/dist/trix.css">
    <title>Meeti - Editar Grupo</title>
</head>
<body>
    <section layout:fragment="contenido">
        <h2 class="font-bold mb-6">Editar Grupo</h2>
        <div class="md:flex md:items-center md:justify-center px-4">
            <div class="md:w-1 bg-white p-6 rounded-lg shadow-sm border w-full max-w-xl">
                <h3 class="text-center font-bold"></h3>

                <form id="formEditarGrupo" enctype="multipart/form-data">
                    <input type="hidden" th:id="${_csrf.parameterName}" th:value="${_csrf.token}">
                    <div class="mb-5 mt-5">
                        <label class="mb-3 uppercase font-semibold text-gray-600" for="nombre">Nombre: </label>
                        <input type="text" id="nombre" class="border rounded-lg p-1 w-full" placeholder="Nombre del Grupo">
                    </div>

                    <div class="mb-5">
                        <label for="x" class="mb-3 uppercase font-semibold text-gray-600">Descripción de Grupo:</label>
                        <input type="hidden" id="x" name="x">
                        <trix-editor input="x"></trix-editor>
                    </div>

                    <div class="mb-5">
                        <label for="categoria" class="mb-2 uppercase font-semibold text-gray-600">Categorias:</label>
                        <select id="categoria" class="w-full rounded-lg">
                            <option value="" selected disabled>--- Selecciona una Categoria ---</option>
                        </select>
                    </div>

                    <div class="mb-5">
                        <label for="imagen" class="mb-2 uppercase font-semibold text-gray-600">Imagen:</label>
                        <input type="file" id="imagen" class="w-full border p-4 rounded-lg border-gray-600" >
                    </div>

                    <div class="mb-5">
                        <label for="sitio_web" class="mb-2 uppercase font-semibold text-gray-600">Sitio Web:</label>
                        <input type="text" id="sitio_web" class="border p-1 block rounded-lg w-full" placeholder="Sitio Web del Grupo">
                    </div>

                    <div class="mb-5">
                        <input type="submit" class="border border-pink-400 p-4 w-full font-semibold text-xl bg-pink-400  text-white rounded-lg hover:border-pink-500 hover:bg-white hover:text-pink-400 " value="Actualizar Grupo">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section layout:fragment="scripts">
        <!--Trix-->
        <script src="https://cdn.jsdelivr.net/npm/trix@2.0.0/dist/trix.umd.min.js"></script>
        <script src="/js/grupos/edicionGrupo.js" type="module"></script>
    </section>
</body>
</html>