<!doctype html>
<html
        xmlns:th="http://www.thymeleaf.org"
        lang="en"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet">
    <title>LayOut Pagina</title>
</head>
<body>
<header class="mt-10 p-6">
    <div class="flex items-center justify-between w-full">
        <div class="flex items-center space-x-6 align-middle">
            <img src="/images/logo.png" alt="Logo" class="w-10 h-10 object-contain">
            <h1 class="font-bold text-2xl px-4 text-pink-500">Únete a Grupos y Asiste a Eventos</h1>
        </div>
        <div class="flex space-x-4">
            <nav class="nav">
                <a class="text-pink-400" href="/grupos-views/nuevo-grupo">Crear Grupo</a>
                <a class="text-pink-400 " href="/iniciar-sesion">Iniciar Sesión</a>
                <a class="text-pink-400  " href="#">Olvidé Password</a>
            </nav>
        </div>
    </div>
</header>


<main layout:fragment="contenido">

    </main>

    <footer class="text-xl text-center site-footer" style="">
        <nav class="nav">
            <a class="text-pink-400" href="#">Crear Grupo</a>
            <a class="text-pink-400 " href="/iniciar-sesion">Iniciar Sesión</a>
            <a class="text-pink-400  " href="#">Olvidé Password</a>
            <a>&copy; 2025 Meeti - Altamirano Hernandez Alan</a>
        </nav>
    </footer>

    <div layout:fragment="scripts">

    </div>
    <!--Link de Axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--Link de Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>