<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
<div style="max-width: 600px; margin: auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1);">
    <h2 style="color: #333333; text-align: center">Hola <span th:text="${nombre}">Usuario</span>,</h2>

    <p style="font-size: 25px; color: darkred; text-align: center; font-weight: bolder">
        Haz confirmado correctamente tu cuenta en Meeti. Puede comenzar a crear grupos y eventos.
    </p>
    <p style="font-size: 14px; color: #999999; text-align: center;">
        Si tú no realizaste este registro, puedes ignorar este mensaje.
    </p>

    <hr style="border: none; border-top: 1px solid #eeeeee; margin: 40px 0;">

    <p style="font-size: 12px; color: #bbbbbb; text-align: center;">
        © <span th:text="${anio}">2025</span> Meeti. Todos los derechos reservados.
    </p>
</div>
</body>
</html>
